    .empTable {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    }
    
    table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 100%;
    }
    
    th {
    border-bottom: 1px solid black;
    }
    
    td {
    text-align: center;
    }
    