    .employeeDetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
    }
    
    /* tr {
    border: 100px solid black;
    } */
    
    td {
    text-align: center;
    border: 1px solid;
    }

    .logout{
        float: right;
        margin-top: -5px;
        margin-right: 2px;
       

    }

